@{
    ViewData["Title"] = "Email Campaigns";
}

@model RedisCacheExample.Models.CampaignsModel


<h1>Email Campaigns viewed by @Model.Session.Name</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Campaign
            </th>
            <th>
                Emails opened
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach ( CampaignTypes campaignTypes in Model.CampaignTypes)
        {
            <tr>
                <td>
                    @Html.ActionLink(campaignTypes.Subject, "details", "Campaigns",new {id=@campaignTypes.CampaignId,SessionId=@Model.Session.Id })
                </td>
                <td>@campaignTypes.EmailCount</td>
            </tr>
            
        }
    </tbody>
</table>

